@keyframes nextSlide {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

@keyframes prevSlide {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}

@keyframes prevToCurrSlide {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  49% {
    opacity: 0;
    transform: rotateY(265deg);
  }
  50% {
    opacity: 0.1;
    transform: rotateY(270deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@keyframes nextToCurrSlide {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  49% {
    opacity: 0;
    transform: rotateY(265deg);
  }
  50% {
    opacity: 0.1;
    transform: rotateY(270deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.next-slide {
  animation: nextSlide 0.75s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.prev-slide {
  animation: prevSlide 0.75s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.prev-to-curr-slide {
  animation: prevToCurrSlide 1.5s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.next-to-curr-slide {
  animation: nextToCurrSlide 1.5s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}
