* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  background-color: #2d3340 !important;
  color: #fff !important;
  transition: background-color 0.3s ease, color 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
